*{
    margin: 0;
    box-sizing: border-box;
}
.nav{
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    padding: 15px ;
    margin-bottom: 20px;
}
.nav>.kiri{
    font-size: 20px;
    display: flex;
    width: 15%;
    justify-content: space-between;
}
.kiri button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 10px;
    cursor: pointer;
}
.link:hover{
    background-color: rgba(255, 255, 255, 0.747);
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.kiri>.btn{
    background-color: rgba(255, 255, 255, 0.747);
    font-weight: 900;
    font-size: 15px;
    padding: 7px 10px;
    margin-right: 25px;
    cursor: pointer;
    border: none;
    border-radius:5px ;
}
.btn:hover{
    background-color: tomato;
}
.nav>.tengah{
    width: 75%;
    display: flex;
}
.tengah>.inputan{
    background-color: white;
    border-radius: 8px;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
}
.inputan>.category{
    width: 8%;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    border-right: 2px solid black;
}
.inputan>.search{
    padding-top: 5px;
    width: 85%;
    text-align: center;
}
.search input{
    outline: none;
    border: none;
    text-align: center;
}
.inputan>.s{
    border-left: 2px solid black;
    width: 8%;
    text-align: center;
    padding-top: 5px;
}
.nav>.kanan{
    margin-left: 30px;
    padding-top: 10px;
  padding-bottom: 5px;
    width: 30%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}
.kategory_movies{
    background-color: black;
    color: white;
    position: absolute;
    top: 10%;
    width: 80%;
    display: grid;
    z-index: 10;
    grid-template-columns: repeat(3,1fr);
}
ul li{
    list-style-type: none;
}
.li-first{
    font-size: 30px;
    margin-bottom: 10px;
}
li{
    padding: 5px;
}
/* MAIN */
.main{
    padding: 20px;
}
.head-mo{
    margin-left: 20px;
}
.pop-mo{
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 40px;
    column-gap: 50px;
}
.pop-mov{
    background-color: black;
    color: white;
    padding-bottom: 20px;
}
.img-movies{
    width: 100%;
    height: 250px;
}
.title_mo{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.fa-heart{
    color: red;
}
.title-year{
    text-align: center;
}


@media(max-width:768px){
    .nav>.tengah{
        width: 70%;
        display: flex;
        margin-left: 20px;
    }
    .nav>.kanan{
      width: 7%;
      font-size: 10px;
    }
    .kiri>.btn{
        font-size: 10px;
        text-align: center;
    }
    .kanan>.pro, .kanan>.watch{
        display: none;
    }
    .pop-mo{
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        column-gap: 20px;
    }
}