.nav{
    background-color: black;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
}
.nav>.kiri{
    font-size: 20px;
    display: flex;
    width: 15%;
    padding: 20px 10px 20px 40px;
    justify-content: space-between;
}

.kiri button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;

}
.link:hover{
    background-color: rgba(255, 255, 255, 0.747);
    color: black;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
}
.kiri>.btn{
    background-color: rgba(255, 255, 255, 0.747);
    padding: 10px 10px;
    font-weight: 900;
    font-size: 15px;
    margin-right: 25px;
    cursor: pointer;
    border: none;
    border-radius:5px ;
}
.btn:hover{
    background-color: tomato;
}
.nav>.tengah{
    width: 75%;
    padding: 20px 50px 20px 50px;
    display: flex;
}
.tengah>.inputan{
    background-color: white;
    border-radius: 8px;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
}
.inputan>.category{
    width: 5%;
    font-size: 20px;
    padding: 8px 30px;
    border-right: 2px solid black;
}
.inputan>.search{
    width: 90%;
    text-align: center;
}
.search input{
    padding: 10px 0;
    outline: none;
    border: none;
    text-align: center;
}
.inputan>.s{
    border-left: 2px solid black;
    width: 5%;
    padding: 8px;
}
.nav>.kanan{
    padding-top :30px;
    width: 30%;
    padding: 25px 20px 25px 20px;
    display: flex;
    justify-content: space-between;
}
.kategory_movies{
    background-color: black;
    color: white;
    position: absolute;
    top: 10%;
    width: 80%;
    display: grid;
    z-index: 10;
    grid-template-columns: repeat(3,1fr);
}
ul li{
    list-style-type: none;
}
.li-first{
    font-size: 30px;
    margin-bottom: 10px;
}
li{
    padding: 5px;
}
@media(max-width:768px){
    .nav>.kiri{
        width: 15%;
        padding: 20px 10px 20px 10px;
    }
    .kiri button{
        margin-right: 10px;
        margin-left: 10px;
    }
    .nav>.tengah{
        width: 90%;
        padding: 20px 10px 20px 25px;
    }
    .inputan input{
        width: 75%;
        padding: 10px 0;
    }
    .inputan span{
        padding: 0 20px;
    }
    .nav>.kanan{
        width: 10%;
    } 
    .kanan>.pro, .kanan>.watch{
        display: none;
    }
}